@import "_reset.scss";
@import "_common_utils.scss";
@import "_common_colors_sizes.scss";


body {
	font-family: 'Lucida Sans', tahoma, arial, helvetica, sans-serif;
}


.content {
	background-color: $color-mid-light;
	margin: auto;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	width: 800px;
}


h1 {
	font-size: 32px;
	text-align: center;
	padding-bottom: 5px;
}


h2 {
	font-size: 18px;
	padding-bottom: 10px;
	text-align: center;
}


.row {
	@include clearFixAfter();
	padding-bottom: 8px;
	padding-top: 8px;

	.item {
		@include textEllipsis();

		float: left;
		padding-left: 10px;
		padding-right: 10px;
		width: 105px;
	}

	.show {
		width: 300px;
	}

	.datetime {
		width: 250px;
	}

	.channel {
		width: 175px;
	}

	.synopsis {
		width: 700px;
	}

	&.header {
		background-color: $color-dark;
		color: $color-light;
		font-family: tahoma, arial, helvetica, sans-serif;
		font-size: 24px;
	}

	&.selected {
		background-color: $color-feature;
		color: $color-dark;
	}

	&.program {
		border-bottom: 1px solid $color-mid-dark;
		font-size: 14px;
	}
}
