html, body { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }

table { border-collapse: collapse; border-spacing: 0; }

ol, ul { list-style: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; }

body { font-family: 'Lucida Sans', tahoma, arial, helvetica, sans-serif; }

.content { background-color: #e4e4e4; margin: auto; padding-bottom: 20px; padding-left: 10px; padding-right: 10px; padding-top: 10px; width: 800px; }

h1 { font-size: 32px; text-align: center; padding-bottom: 5px; }

h2 { font-size: 18px; padding-bottom: 10px; text-align: center; }

.row { padding-bottom: 8px; padding-top: 8px; }
.row:after { content: ""; display: table; clear: both; }
.row .item { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left; padding-left: 10px; padding-right: 10px; width: 105px; }
.row .label { font-weight: bold; }
.row .show { width: 300px; }
.row .datetime { width: 250px; }
.row .channel { width: 175px; }
.row .synopsis { width: 700px; }
.row.header { background-color: #111111; color: white; font-family: tahoma, arial, helvetica, sans-serif; font-size: 24px; }
.row.selected { background-color: #ffe103; color: #111111; }
.row.program { border-bottom: 1px solid #acacac; font-size: 14px; }
